body {
    background-color: #05386B;
}

#title {
    color: white;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    text-align: center;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

#reset {
  background-color: #5CDB95;
  border: none;
  color: white;
  box-shadow: 0 6px #379683;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 4px 2px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 900px;
}

#reset:active {
    background-color: green;
}


.btnArea{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}
#tokenSize{
  position: absolute;
  margin-top: -30px;
  left: 20px;
}

#flexCont {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
margin-bottom: 800px;
}
