
/*Page Background/Title Styling*/
body {
    background-color: #05386B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Header Grid and Items*/
.headerGrid {
  display: grid;
}

#title {
    color: white;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    background-color: #5CDB95;
    border-radius: 5px;
    width: 320px;
    justify-self: center;
}


/*Empty Token Space Styling*/
.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

/*Hide Functionality for Image Tokens*/
.hidden {
  display: none;
}

/*Styling for buttons once the reset has occurred.*/
.btnRst {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

/*Styling for the actual reset button*/
#reset {
  background-color: #5CDB95;
  border: none;
  color: white;
  box-shadow: 0 6px #379683;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  height: 45px;
  width: 150px;
  justify-self: center;
  margin-top: 0px;
  grid-row: 2/3;
  grid-column: 2/3;
}

#reset:active {
    background-color: green;
}

/*Grid Styling for Tokens*/
.btnArea{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

/*Grid Container for Reset and Generate Functions*/
#gridCont {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Token Input Button Styling*/
#generate {
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  margin-top: 8px;
  background-color: #5cdb95;
  border-radius: 5px;
  border-width: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}

#aniGrid {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 8px;
}

#aniSelect{
  color: white;
  height: 20px;
  width: 75px;
  justify-self: center;
  background-color: #379683;
  border-radius: 5px;
  border-width: 0px;
}

#aniBtn {
  color: white;
  height: 25px;
  width: 78px;
  justify-self: center;
  background-color: #5cdb95;
  border-radius: 5px;
  border-width: 0px;
}

#colorBtn {
  color: white;
  height: 25px;
  width: 80px;
  justify-self: center;
  background-color: #5cdb95;
  border-radius: 5px;
  border-width: 0px;
  justify-self: center;
  margin: 8px;
}

#colorDrop {
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  background-color: #379683;
  border-radius: 5px;
  border-width: 0px;
}

#rightGrid {
  display: grid;
  grid-column: 3/4;
}

#blowoutGrid {
  display: grid;
}

#blowoutBtn {
  background-color: #5CDB95;
  border: none;
  color: white;
  box-shadow: 0 6px #379683;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  height: 40px;
  width: 125px;
  justify-self: center;
  margin-top: 5px;
  margin-right: 1px;
}

#blowoutBtn:active {
  background-color: green;
}
/*Token Amount Dropdown*/
#tokenSize{
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  margin-top: 30px;
  background-color: #379683;
  border-radius: 5px;
  border-width: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}



/*Shape Choice Styling*/
#shapeGrid{
  grid-row: 2/3;
  grid-column: 3/4;
  display: grid;
  margin-top: 10px;
}

#shapeDrop {
  color: white;
  height: 20px;
  width: 75px;
  justify-self: center;
  background-color: #379683;
  border-radius: 5px;
  border-width: 0px;
}

#shapeBtn {
  color: white;
  height: 22px;
  width: 78px;
  justify-self: center;
  background-color: #5cdb95;
  border-radius: 5px;
  border-width: 0px;
}

/*Fireworks Styling*/
@keyframes    firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
@-webkit-keyframes firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
.fireWorkParticle {
  z-index : 999;
  position: absolute;
  height : 5px;
  width : 5px;
  border-radius : 5px;
  animation-name : firework-animation;
  animation-timing-function : linear;
  animation-duration : 1s;
  animation-iteration-count : infinite;
}

/*Token Shapes*/

.circleItem {
  border-color: transparent;
  border-radius: 100px;
}

.starItem {
content: url(./images/star.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  margin-top: 5px;
}

.coinItem {
  display: none;
}

.coinImg {
  content: url(./images/coin.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  margin-top: 5px;
}

.heartItem {
  background-color: red;
  height: 30px;
  transform: rotate(-45deg);
  width: 30px;
  margin-top: 18px;
  margin-bottom: 12px;
  justify-self: center;
}

.heartItem:before,
.heartItem:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heartItem:before {
  top: -15px;
  left: 0;
}

.heartItem:after {
  left: 15px;
  top: 0;
}

.smileyItem {
  content: url(./images/emoji.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5px;
}

.alienItem {
  content: url(./images/alien.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5px;
}

.robotItem {
  content: url(./images/robot.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5px;
}

.butterflyItem {
  content: url(./images/butterfly.png);
  height: 55px;
  width: 55px;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5px;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 50px;
  animation: pulse 1s ease infinite;
  margin-top: 5px;
}

/*Token Animations*/
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

/*Timer Styling*/
.timerArea {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  

}
.timerArea > *{
  justify-self: center;
}
.mainTimer{
  background-color: #fb8647;
  border-radius: 25px;
}

#mainTimeTitle {
  grid-column: 1/3;
  margin: 0;
}

#durationTitle {
  grid-column: 1/3;
  margin: 0;
}

.digitTable{
  grid-column: 1/3;
  font-size: 48px;
  background-color: #a5a3a6;
  border-radius: 25px;
  width: 80%;
  text-align: center;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  font-family: digitalFont;
}
.addMin, .subMin, .displaySet, .displaySetSec, .subSec, .addSec{
  font-size: 24px;
  color: white;
} 
.addMin, .subMin, .subSec, .addSec{
  cursor: pointer;
}

.hideTimer{
  display: none;
}
.multiTable{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 0 auto;
}
.timerArea{
  grid-row: 1/3;
  grid-column: 1/3;
}
.stopwatch{
  grid-row: 1/2;
  grid-column: 3/4;
}
.intervalClock{
  grid-row: 2/3;
  grid-column: 3/4;
}


.button.play {
  background-color: transparent;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
  border-width: 37px 37px 37px 37px;
  border-color: red blue green yellow;
  border-width: 37px 0px 37px 74px;
  border-color: red blue green yellow;
  box-sizing: border-box;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
  scale: 0.75;
}
.button.pause {
  background-color: transparent;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
  border-style: double;
  border-width: 0px 37px 0px 37px;
  border-width: 0px 0px 0px 37px;
  border-color: #202020;
  float: left;
  scale: 0.75;
}
.button {
  box-sizing: border-box;
  height: 74px;
  
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

  // paused state
  &.pause {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
}