/*Page Background/Title Styling*/
body {
    background-color: #05386B;
}

#title {
    color: white;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    text-align: center;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

/*Styling for buttons once the reset has occurred.*/
.btnRst {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

#reset {
  background-color: #5CDB95;
  border: none;
  color: white;
  box-shadow: 0 6px #379683;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 70px;
  width: 150px;
  justify-self: center;
  margin-top: 0px;
  grid-row: 2/3;
  grid-column: 2/3;
}

#reset:active {
    background-color: green;
}

/*Grid Styling for Tokens*/
.btnArea{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
}

/*Grid Container for Reset and Generate Functions*/
#gridCont {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.circleItem {
  border-color: transparent;
  border-radius: 100px;
}

/*Token Input Button Styling*/
#generate {
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  margin-top: 8px;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0 3px #379683;
  grid-column: 2/3;
  grid-row: 1/2;
}

#generate:active {
  background-color: green;
}

#aniGrid {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 8px;
}

#aniSelect{
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
}

#aniBtn {
  color: white;
  height: 35px;
  width: 85px;
  justify-self: center;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0 3px #379683;
}

#aniBtn:active {
  background-color: green;
}

#colorBtn {
  color: white;
  height: 40px;
  width: 85px;
  justify-self: center;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0 3px #379683;
  justify-self: center;
  margin: 8px;
}

#colorBtn:active {
  background-color: green;
}

#colorDrop {
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
}

#rightGrid {
  display: grid;
  grid-column: 3/4;
}

/*Token Amount Dropdown*/
#tokenSize{
  color: white;
  height: 20px;
  width: 85px;
  justify-self: center;
  margin-top: 30px;
  background-color: #5cdb95;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border-width: 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}

/*Timer Styling*/
.timerArea {
  display: grid;
  margin-top: 10px;
}

.addMin, .subMin, .displaySet{
  font-size: 24px;
  color: white;
} 
.addMin, .subMin{
  cursor: pointer;
}