/*Page Background/Title Styling*/
html{
  height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #05386B;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
h1, h3{
  padding: 0.25em;
}
h1{
  font-size: 2em;
}
h3{
  font-size: 1.2em;
}

/*Header Grid and Items*/
#title {
    color: white;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    background-color: #5CDB95;
    border-radius: 5px;
    width: 320px;
    justify-self: center;
    margin: 0 auto;
}


/*Empty Token Space Styling*/
.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
}

/*Hide Functionality for Image Tokens*/
.hidden {
  display: none;
}

/*Styling for buttons once the reset has occurred.*/
/* NOT USED */
/* .btnRst {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 4px 2px;
  border: solid 1px #5CDB95;
  box-shadow: inset 0 0 3px #5CDB95;
  justify-self: center;
} */


.btn22 {
	border: none;
	font-family: inherit;
	font-size: 17px;
	color: inherit;
	background: none;
	cursor: pointer;
  width: 150px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  justify-self: center;
  grid-row: 2/3;
  grid-column: 2/3;
}

.btn22:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 2c */
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2c {
	border-radius: 5px;
}
.btn-2c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}
.btn-2c:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

#blowoutBtn{
  height: 100%;
}




/*Token Menu Styling*/
@media (min-width: 300px){
  .wrapper{
    width: 100%;
    margin: 0 auto;
    padding-top: 0.5em;
  }
  /*Grid Styling for Tokens*/
  .btnArea{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
  }
  #gridCont {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #tokenNum{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #clearBtn{
    grid-row: 3/4;
    grid-column: 2/3;
  }
  #colorGrid{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #blowoutGrid{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  #aniGrid{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #shapeGrid{
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media (min-width: 600px){
  /*Grid Styling for Tokens*/
  .btnArea{
    width: 80%;
  }
  #gridCont {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  #tokenNum{
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #clearBtn{
    grid-row: 2/3;
    grid-column: 3/5;
  }
  #colorGrid{
    grid-row: 1/2;
    grid-column: 3/4;
  }
  #blowoutGrid{
    grid-row: 2/3;
    grid-column: 1/3;
  }
  #aniGrid{
    grid-row: 1/2;
    grid-column: 4/5;
  }
  #shapeGrid{
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media (min-width: 1140px){
  .wrapper{
    width: 70%;
    padding-top: 3%;
  }
}

.menuItem{
  justify-self: center;
}
.label{
  color: white;
  background-color: #5cdb95;
  height: 20px;
  width: 85px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2px;
}
.menuDrop{
  color: white;
  height: 20px;
  width: 85px;
  background-color: #379683;
  border-radius: 5px;
  border-width: 0px;
}


/*Fireworks Styling*/
@keyframes    firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
@-webkit-keyframes firework-animation {
  0% {background-color : #ff8426;}
  25% {background-color : #fffc84;}
  50% {background-color : #ff83f4;}
  75% {background-color : #83b6ff;}
  100% {background-color : #ff8426;}
}
.fireWorkParticle {
  z-index : 999;
  position: absolute;
  height : 5px;
  width : 5px;
  border-radius : 5px;
  animation-name : firework-animation;
  animation-timing-function : linear;
  animation-duration : 1s;
  animation-iteration-count : infinite;
}

/*Token Shapes*/

.circleItem {
  border-color: transparent;
  border-radius: 100px;
}
.starItem {
  content: url(./images/star.png);
}
.coinItem {
  display: none;
}
.coinImg {
  content: url(./images/coin.png);
}
.heartItem {
  background-color: red;
  height: 30px;
  transform: rotate(-45deg);
  width: 30px;
  margin-top: 18px;
  margin-bottom: 12px;
  justify-self: center;
}
.heartItem:before,
.heartItem:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heartItem:before {
  top: -15px;
  left: 0;
}

.heartItem:after {
  left: 15px;
  top: 0;
}
.smileyItem {
  content: url(./images/emoji.png);
}
.alienItem {
  content: url(./images/alien.png);
}
.robotItem {
  content: url(./images/robot.png);
}
.butterflyItem {
  content: url(./images/butterfly.png);
}
.alienItem, .robotItem, .butterflyItem, .smileyItem, .coinImg, .starItem{
  height: 55px;
  width: 55px;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5px;
}
.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 50px;
  animation: pulse 1s ease infinite;
  margin-top: 5px;
}

/*Token Animations*/
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

/*Timer Styling*/
.timerArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.timerArea > *{
  justify-self: center;
}
.mainTimer{
  background-color: #fb8647;
  border-radius: 25px;
}
#mainTimeTitle {
  grid-column: 1/3;
  margin: 0;
}
#durationTitle {
  grid-column: 1/3;
  margin: 0;
  color: #a5a3a6;
}
#intervalTitle {
  grid-column: 1/3;
  margin: 0;
  color: #a5a3a6;
}
.digitTable{
  grid-column: 1/3;
  font-size: 48px;
  background-color: #a5a3a6;
  border-radius: 25px;
  width: 80%;
  text-align: center;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  font-family: digitalFont;
}

#activity {
  font-size: 90px;
  padding-top: 15px;
}
.setMin, .setSec{
  padding-top: 20px;
  height: 40px;
}
.addMin, .subMin, .displaySet, .displaySetSec, .subSec, .addSec{
  color: white;
  font-size: 1.8em;
} 
.addMin, .subMin, .subSec, .addSec, .resetImg, .btn, select, button, .toggleTimer{
  cursor: pointer;
}



@media (min-width: 300px){
  .multiTable{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    margin: 0 auto;
    grid-gap: 0.5em;
  }
  .stopwatch{
    background-color: #202020;
    border-radius: 25px;
  }
  .intervalClock{
    background-color: #301935;
    border-radius: 25px;
  }
  .toggleTimer{
    color: white;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
  }
  .toggleTimer:hover{
    text-shadow: 0px 0px 1px #5CDB95;
  }
}
@media (min-width: 600px){
  .multiTable{
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
  .timerArea{
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .stopwatch{
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .intervalClock{
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .toggleTimer{
    margin-left: 100px;
  }
}

.button.play {
  background-color: transparent;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
  border-width: 37px 37px 37px 37px;
  border-color: red blue green yellow;
  border-width: 37px 0px 37px 74px;
  border-color: red blue green yellow;
  box-sizing: border-box;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #000000;
  scale: 0.75;
}
.button.pause {
  background-color: transparent;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: black;
  border-style: double;
  border-width: 0px 37px 0px 37px;
  border-width: 0px 0px 0px 37px;
  border-color: black;
  float: left;
  scale: 0.75;
}
.button {
  box-sizing: border-box;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  margin-left: 25px;
}

.resetImg {
  height: 74px;
  cursor: pointer;
}



  /* play state
  border-style: solid;
  border-width: 37px 0 37px 60px;
   paused state
  &.pause {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }
} */

.hideTimer{
  display: none;
}
.rotate{
  margin: 0;
  rotate: -45deg;
  transition: 1s;
}
.wrapper{
  flex: 1 0 auto;
  margin-bottom: 1.5em;
}
.footer{
  flex-shrink: 0;
  display: flex;
  background-color: rgb(3, 40, 77);
  color: rgb(147, 221, 231);
  text-align: center;
  height: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}  
a, a:visited, a:focus{
  color: inherit;
  text-decoration: none;
}
.footerContent > a:hover{
  text-decoration: underline;
}